@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 768px) and (max-width: 992px) {
	
  .our-business-img1{
		padding-top: 1%;
		width: 5%;
		height: 5%;
		margin-left: 15%;
	}
	.our-business-img2{
		padding-top: 1%;
		width: 5%;
		height: 5%;
		margin-left: 12%;
	}
	.our-business-text{
		padding-left: 10%;
	}
	.button-position{
		margin-left: 40%;
	}
}