@charset "utf-8";
/* CSS Document */


@media only screen and (min-width: 992px) {
	.logo{
		width: 50%;
	}
	.flex-container-row-desktop{
		display: flex;
		flex-direction: row;
	}
	.container-desktop{
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.half-desktop{
		width: 50%;
	}
	
	.our-business-img1{
		margin-top: 3%;
		width: 25px;
  		height: 25px;
  		margin-left: -2.5%;
  		border-radius: 50%
	}
	.our-business-img2{
		margin-left: -2.5%;
		width: 5%;
		height: 5%;
		margin-top: 3%
	}
	.our-business-text{
		padding-left: 10%;
	}
	.container-text-our-business{
		padding-top: 5px;
		margin-left: 5px;
	}
	.button-position{
		margin-left: 85%;
	}
	
}
.flex-container-row{
		display: flex;
		flex-direction: row;
	}
.flex-container-col{
		display: flex;
		flex-direction: column;
}

.news{
	border: 1px solid black;
	padding-bottom: 5px;
	
}
.ul-footer-style{
	list-style-type: none;
}

footer{
	font-size: 12px;
	padding-bottom: 5px;
	}
hr {
  	color: white;
  	background: white;
  	height: 1px;
}
.form{
	font-size: 15px;
	width: 100%;
	border-bottom: 1px solid white;
	border-radius: 5px;
}
.texbox{
	width: 100%;
	margin: 5px;
	padding: 5px;
	background-color: black;
	color: white;
	border: none;
}
